.contenedor {
  background-color: #eeddbb;
  border: 2px solid #a1703a;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 32px;
  color: #6b4f27;
}

.contador {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.numero {
  font-size: 64px;
  margin: 0 20px;
}

.boton {
  background-color: #d7b68d; /* color marrón pastel */
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  font-size: 2em; /* tamaño base */
}

.boton:hover {
  opacity: 0.8; /* reducir la opacidad en el hover */
}

#restar.numero-cero {
  opacity: 0.5; /* reducir la opacidad del botón restar si el contador es 0 */
}

#reset {
  background-color: #6b4f27;
}

#reset:hover {
  background-color: #a1703a;
}
@media (max-width: 768px) {
  .boton {
    font-size: 1.5em; /* tamaño para pantallas más pequeñas */
  }
}
